@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary: #0d66dd;
}

html,
body {
  background-color: #fafafa;
}
html > *,
body > * {
  font-family: "Poppins", sans-serif;
}
html svg stop,
body svg stop {
  stop-color: var(--primary);
}

.basic-sub-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: 0.005em;
  text-transform: capitalize;
  background: linear-gradient(336.8deg, #0c64dc 2.51%, #2c95db 87.37%), #232631;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.basic-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 84px;
  text-transform: capitalize;
  color: #232631;
}
.basic-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-transform: capitalize;
  color: #232631;
}
.basic-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #8a8a8a;
  margin-top: 12px;
  margin-bottom: 56px;
}
.basic-small {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #8a8a8a;
}
.basic-btn {
  outline: none;
  border: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
  height: 48px;
  padding: 12px 32px;
  background: linear-gradient(336.8deg, #0c64dc 2.51%, #2c95db 87.37%);
  border-radius: 12px;
}
.basic-btn.no-fill {
  outline: none;
  border: none;
  text-decoration: none;
  color: var(--primary);
  background: transparent;
  border: 1px solid var(--primary);
}
.basic-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  background: linear-gradient(336.8deg, #0c64dc 2.51%, #2c95db 87.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 12px 32px;
}

.section-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #232631;
  width: 100%;
}
@media (min-width: 768px) {
  .section-title {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .section-title {
    width: 50% !important;
  }
}
.section-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8a8a8a;
}

.navbar {
  background: transparent;
  height: 112px;
  background-color: #ffffff !important;
  margin-bottom: 70px;
}
.navbar-brand {
  margin-right: 60px;
}
.navbar-brand-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #232631;
  margin-left: 12px;
}
.navbar .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #232631;
}
.navbar .nav-link.active {
  color: var(--primary) !important;
}
@media (min-width: 992px) {
  .navbar .nav-link {
    margin-right: 40px;
  }
}
.navbar .nav-btn {
  outline: none;
  border: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #232631;
  background-color: transparent;
  padding: 12px 32px;
  border: 1px solid var(--primary);
  border-radius: 12px;
  width: 100%;
  margin-left: 10px;
}
@media (min-width: 992px) {
  .navbar .nav-btn {
    width: fit-content;
  }
}
.navbar .nav-btn.bg {
  background: linear-gradient(336.8deg, rgba(12, 100, 220, 0.1) 2.51%, rgba(44, 149, 219, 0.1) 87.37%);
  color: var(--primary);
}

#hero .hero-image-container {
  width: 487.5px;
  height: 600px;
}
#hero .hero-image-card {
  background: #ffffff;
  border-radius: 24px 12px;
  top: 20%;
  left: -25%;
}
#hero .hero-image--title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #232631;
}
#hero .hero-image-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #232631;
}
#hero .hero-image-desc.lighter {
  font-weight: 400;
  color: #848484;
}
#hero .hero-image-profile {
  width: 42px;
  height: 42px;
  margin-right: 8px;
}
#hero .hero-image-role {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  color: #848484;
}
#hero .hero-image-top {
  padding: 14px 16px;
}
#hero .hero-image-section {
  padding: 8px 16px;
}
#hero .hero-image-section.active {
  background-color: #fafafa;
}

#services {
  padding-top: 100px;
  padding-bottom: 120px;
}
#services .services-card {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 10px;
}
#services .services-icon {
  width: 52px;
  height: 52px;
  background: #FFF2F0;
  border-radius: 12px;
}
#services .services-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-transform: capitalize;
  color: #232631;
}
#services .services-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8a8a8a;
}
#services .services-link > * {
  display: inline-block;
}
#services .services-link span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #EB7530;
  margin-right: 12px;
}

#specialist {
  background: #ffffff;
  border-radius: 24px;
  padding: 56px;
  margin-bottom: 120px;
}

.specialist-profile {
  margin-bottom: 30px;
  padding: 11px;
  transition: all 0.3s ease-in;
}
.specialist-profile img {
  width: 100%;
}
.specialist-profile:hover {
  border: 4px solid var(--primary);
  border-radius: 24px;
}
.specialist-record {
  width: 148px;
  margin-top: 30px;
  margin-right: 65px;
}
.specialist-value {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  color: #232631;
}
.specialist-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  color: #7b7b7b;
}

#reason {
  margin-bottom: 120px;
}
#reason .reason-image-container {
  width: 487.5px;
  height: 600px;
}
#reason .reason-image-container img:last-child {
  left: 40px;
  right: 0;
}
#reason .reason-card {
  padding: 24px 32px;
  background: #ffffff;
  border-radius: 12px;
  margin-bottom: 24px;
}
#reason .reason-icon {
  width: 52px;
  height: 52px;
  background: #e8f1fc;
  border-radius: 12px;
  margin-right: 21px;
}
#reason .reason-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-transform: capitalize;
  color: #232631;
}
#reason .reason-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8a8a8a;
}

#article {
  margin-bottom: 120px;
}
#article .article-card {
  background: #ffffff;
  border-radius: 24px;
}
#article .article-thumbnail {
  width: 100%;
}
#article .article-content {
  padding: 16px;
  padding-top: 0;
}
#article .article-category {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-transform: capitalize;
  color: #116cdc;
}
#article .article-separator {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-transform: capitalize;
  color: #8a8a8a;
}
#article .article-duration {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-transform: capitalize;
  color: #8a8a8a;
}
#article .article-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #232631;
}
#article .article-profile {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
#article .article-profile-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-transform: capitalize;
  color: #8a8a8a;
}
#article .article-btn {
  outline: none;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  width: 100%;
  background: linear-gradient(336.8deg, rgba(12, 100, 220, 0.1) 2.51%, rgba(44, 149, 219, 0.1) 87.37%);
}

#review {
  margin-bottom: 120px;
}
#review .basic-button {
  margin-top: 60px;
}
#review .review-image-container {
  width: 487.5px;
  height: 600px;
}
#review .review-image-container img:last-child {
  left: 40px;
  right: 0;
}
#review .review-image-card {
  background: #ffffff;
  border-radius: 24px;
  width: 180px;
  height: 193px;
  top: -20%;
  left: 0%;
}
#review .review-image-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 64px;
  height: 64px;
  background: linear-gradient(336.8deg, rgba(12, 100, 220, 0.1) 2.51%, rgba(44, 149, 219, 0.1) 87.37%);
  border-radius: 50%;
  overflow: hidden;
}
#review .review-image-value {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.01em;
  color: #232631;
}
#review .review-image-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: #8a8a8a;
}
#review .review-card {
  background: #ffffff;
  border-radius: 24px;
  padding: 18px;
  margin-bottom: 20px;
}
#review .review-profile {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}
#review .review-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: #232631;
}
#review .review-rating {
  margin-left: 3px;
}
#review .review-desc {
  margin-top: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #8a8a8a;
}

footer {
  background: #232631;
  padding: 65px 0;
  overflow: hidden;
}
footer::before {
  content: url(../../assets/img/footer/bg.svg);
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (min-width: 992px) {
  footer {
    height: 383px;
  }
}
footer .footer-bg {
  z-index: -1;
  width: 429px;
  height: 429px;
  right: -40px;
  bottom: -40px;
}
footer .footer-logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-transform: capitalize;
  color: #ffffff;
  margin-left: 12px;
}
footer .footer-copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6b738e;
}
footer .footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}
footer .footer-item {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #6b738e;
  position: relative;
  z-index: 1;
}